# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# BUILD / DIST
# =========================
dist/
build/
.out/
.next/

# =========================
# ENV
# =========================
.env
.env.local
.env.*.local

# =========================
# LOGS
# =========================
logs
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# ANGULAR
# =========================
.angular/
.angular/cache
coverage/

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo

# =========================
# TESTS
# =========================
coverage/

# =========================
# MISC
# =========================
tmp/
temp/
.cache/